name: Build workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'termurin'
          java-version: '21'
      - name: Maven -B -ntb Clean Verify
        run: mvn clean verify
      - name: Test
        run: |
          Write-Output "Amigoscodes"
          "Hello" | Out-File -FilePath file.txt
          Get-ChildItem
